spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

server:
  port: ${PORT:3001}

app:
  jwt:
    issuer: bravvo-api
    secret: ${JWT_SECRET}
    access-token-minutes: 30
    refresh-token-days: 7
